/* Shared Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.poppins-font {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* Body Styles Start */
body{
    background-color: #E5E5E5;
}
.header{
    margin-top: 50px;
}
.nav{
    max-width: 1128px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.logo{
    width: 160px;
    height: 40px;
}
.search{
    width: 500px;
    height: 48px;
    position: relative;
}
.search input{
    width: 100%;
    padding: 12px;
    background-color: #F1F1F1;
    color: #CCCCCC;
    border-radius: 66px;
    font-size: 16px;
    border: none;
    font-style: italic;
}
.search input:focus{
    color: #000000;
    outline: 1px solid #BABABA;
}
.search i{
    position: absolute;
    right: 16px;
    top: 16px;
    color: #BABABA;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 24px;
}
ul li a{
    text-decoration: none;
    color: #707070;
    font-weight: 600;
}

/* Banner Section Styles */
.banner{
    background-color: #FEEAE9;
    max-width: 1212px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 64px;
}
.banner-container{
    max-width: 1128px;
    margin: 0 auto;
    display: flex;
    gap: 140px;
    justify-content: space-between;
    align-items: center;
}
.banner-title{
    font-size: 56px;
    color: #1F1F1F;
}
.banner-description{
    color: #4E4E4E;
    line-height: 26px;
    margin: 8px 0;
}
.price{
    color: #FF136F;
    font-weight: 500;
    font-size: 42px;
    margin-bottom: 8px;
}
.btn button{
    background-image: linear-gradient(#FF589B, #FF136F);
    padding: 16px 28px;
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
}
.btn button i{
    margin-left: 10px;
}

/* Products Section Styles */
.products{
    max-width: 1128px;
    margin: 0 auto;
    margin-top: 64px;
}
.categories-title{
    color: #1F1F1F;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 24px;
}
.categories-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    width: 360px;
    height: 120px;
    border-radius: 10px;
    padding: 24px 24px;
}
.item h4{
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 500;
}
.item-1{
    background: linear-gradient(151.85deg, #ff9c35 14.537%,#ffd019 84.486%);
}
.item-2{
    background: linear-gradient(180.00deg, #ff589b -0.006%,#ff136f 99.994%);
}
.item-3{
    background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%,rgb(63, 7, 248) 74.29%);
}

/* Shoes Section Start */
.shoes, .backpack{
    max-width: 1128px;
    margin: 0 auto;
    margin-top: 98px;
    margin-bottom: 70px;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.see{
    color: #FF9D00;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
}
.shoes-container, .backpack-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    text-align: center;
    padding: 12px;
}
.shoes-items, .backpack-items{
    padding: 12px 14px;
}
.shoes-items img, .backpack-items img{
    width: 336px;
    height: 202;
    margin-bottom: 22px;
}
.shoe-title, .backpack-title{
    font-weight: 600;
    font-size: 24px;
    color: #1F1F1F;
    margin-bottom: 16px;
}
.shoe-description, .backpack-description{
    color: #4E4E4E;
    line-height: 26px;
    margin-bottom: 16px;
}
.shoe-price, .backpack-price{
    font-size: 24px;
    font-weight: 500;
    color: #000000;
}
.shoes-items button, .backpack-items button{
    background-color: #000000;
    color: #FFFFFF;
    padding: 14px 20px;
    border-radius: 6px;
    font-weight: 500;
    margin-top: 16px;
    border: none;
    cursor: pointer;
}
.shoes-items button i, .backpack-items button i{
    margin-left: 10px;
}

/** Footer Section Styles */
.footer{
    height: 456px;
    margin: auto;
    position: relative;
}
.footer-container{
    max-width: 1128px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: center;
}
.footer-title{
    color: #1F1F1F;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 4px;
}
.footer-description{
    font-weight: 500;
    color: #707070;
    margin-bottom: 16px;
}
label{
    position: relative;
}
label input{
    width: 680px;
    padding: 16px;
    background-color: #FFFFFF;
    border: none;
    color: #CCCCCC;
    font-size: 24px;
    border-radius: 6px;
}
label button{
    position: absolute;
    padding: 16px;
    right: 0px;
    border: none;
    background-image: linear-gradient(#FF589B, #FF136F);
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
    font-size: 24px;
}
.footer-container input:focus{
    color: #000000;
    outline: 1px solid #BABABA;
}
hr{
    color: #CCCCCC;
}

/*Break Point Responsive */
@media only screen and (max-width: 1068px) {
    .nav ul{
        display: none;
    }
    .nav .menu{
        display: block;
    }
}
@media only screen and (max-width: 768px){
    .search{
        max-width: 400px;
    }
    .nav{
        gap: 56px;
    }
}
